{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center py-3">Author List</h1>
    {% if author_list %}
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">LastName</th>
                <th scope="col">FirstName</th>
            </tr>
        </thead>
        <tbody>
            {% for author in author_list %}
            <tr class="text-center">
                <th scope="row">{{forloop.counter}}</th>
                <td><a href="{{author.get_absolute_url}}">{{ author.last_name }}</a></td>
                <td>{{author.first_name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">There are no author's book in the library.</P>
    {% endif %}
</div>
{% endblock %}