{% extends "base_generic.html" %}

{% block content %}
    <h1>Author: {{author.last_name}}, {{author.first_name}}</h1>

    <p> {% if author.date_of_birth %}{{author.date_of_birth}}-{% endif %}{% if author.date_of_death %}{{author.date_of_death}}{% endif %}</p>
    
    <div style="margin-left: 20px;margin-top: 20px;">
        <h4>Books</h4>

        {% for copy in author.book_set.all %}
            <p><strong>{{copy.title}}({{copy.bookinstance_set.imprint}})({{copy.bookinstance_set.count}})</strong></p>
            <p>{{copy.summary}}</p>
        {% endfor %}
    </div>
{% endblock %}
