{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1 class="text-center py-3">Book List</h1>
  {% if book_list %}
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Book</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_list %}
      <tr class="text-center">
        <th scope="row">{{forloop.counter}}</th>
        <td><a href="{{book.get_absolute_url}}">{{ book.title }}</a></td>
        <td>{{book.author}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="text-center">There are no books in the library.</p>
  {% endif %}
</div>
{% endblock %}