{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1 class="text-center py-3">All Borrowed Books</h1>
  {% if bookinstance_list %}
  <table class="table table-bordered">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Book</th>
        <th scope="col">Due Date</th>
        <th scope="col">Borrower</th>
        <th scope="col">Renew</th>
      </tr>
    </thead>
    <tbody>
        {% for bookinst in bookinstance_list %}
      <tr class="text-center">
        <th scope="row">{{forloop.counter}}</th>
        <td>        
            <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a>
        </td>
        <td><span class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.due_back }}</span></td>
        <td><span class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.borrower }}</span></td>
        <td>{% if perms.catalog.can_mark_returned %} <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a> {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="text-center">There are no books borrowed.</p>
  {% endif %}
</div>
{% endblock %}