{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <h1 class="text-center py-3">Renew: {{ book_instance.book.title }}</h1>
  <div class="d-flex justify-content-center">
    <p class="mr-5"><strong>Borrower:</strong> {{ book_instance.borrower }}</p>
    <p {% if book_instance.is_ovedue %} class="text-danger" {% endif %}><strong>Due date:</strong> {{ book_instance.due_back }}</p>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input class="btn btn-primary ml-auto" type="submit" value="Submit">
    </form>
  </div>
</div>
{% endblock content %}